@tailwind base;
@tailwind components;
@tailwind utilities; 

.carousel-item {
  position: relative;
}

.overlay {
  position: absolute;
  top: 70%;
  left: 43%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  font-size: 16px;
}

/* Media queries for small devices */
@media (max-width: 768px) {
  .overlay { 
  
    top: 70%;
    width:45%;
    left:25%;
    font-size: 13px;
    padding: 4px;
  }
}

 